body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: 'Raleway', sans-serif;
  background: #fff;
}

header {
  box-sizing: border-box;
  background: linear-gradient(-90deg, #73cc76, #5ca35e);
}

header .title-slants .slant{
  width: 0;
  height: 0;
  border-style: solid;
}
header .title-slants .slant:nth-child(1) {
  border-width: 100px 100vmax 0 0;
  border-color: #5ca35e transparent transparent transparent;
}
header .title-slants .slant:nth-child(2) {
  border-width: 0 0 100px 100vmax;
  border-color: transparent transparent #73cc76 transparent;
}
header .title-slants .slant:nth-child(3) {
  border-width: 100px 100vmax 0 0;
  border-color: #73cc76 #fff transparent transparent;
}

.header-text {
  color: white;
  position: absolute;
  top: 9em;
  padding-left: 5em;
}
.header-text h1 {
  font-size: 42pt;
  font-weight: 300;
}
.header-text p {
  font-size: 16pt;
  font-weight: 100;
}

section {
  margin: 7em 0 5em 0;
}
section h3 {
  display: inline-block;
  padding-bottom: 5px;
  position: relative;
  margin-left: 52.5%;
  transform: translate(-50%);
  text-align: center;
}
section h3::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 1px;
  bottom: 0;
  left: 25%;
  border-bottom: 1px solid #018786;
}

.icon-github:hover {color: #333;text-decoration: none;}
.icon-linkedin:hover {color: #0077b5;text-decoration: none;}
.icon-twitter:hover {color: #1da1f2;text-decoration: none;}
.icon-mail:hover {text-decoration: none;}

p.skills, p.frameworks {
  padding-top: 1em;
  text-align: center;
  font-size: 1.2em;
}

ul {
  padding-top: 1em;
  text-align: center;
}
li {display: inline;}
li a {
  color: #86888a;
  text-decoration: none;
  font-size: 1.2em;
  padding: 1em;
}
a.resume-button {
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid green;
  margin: 1em 0.3em 0.3em 46%;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-weight:300;
  color: green;
  text-align:center;
  transition: all 0.2s;
}
a.resume-button:hover {
  color: white;
  background-color: green;
}
/*
@media all and (max-width:30em){
  a.resume-button{
    display:block;
    margin:0.4em auto;
 }
}*/