body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  background: #fff;
}
div.overflow-wrapper {overflow-x: hidden}

header {
  box-sizing: border-box;
  background: linear-gradient(-90deg, #73cc76, #5cb55f);
}

header .title-slants .slant{
  width: 0;
  height: 0;
  border-style: solid;
}
header .title-slants .slant:nth-child(1) {
  border-width: 100px 100vmax 0 0;
  border-color: #73cc76 transparent transparent transparent;
}
header .title-slants .slant:nth-child(2) {
  border-width: 0 0 100px 100vmax;
  border-color: transparent transparent #5cb55f transparent;
}
header .title-slants .slant:nth-child(3) {
  border-width: 100px 100vmax 0 0;
  border-color: #5cb55f #fff transparent transparent;
}

.header-text {
  color: white;
  position: absolute;
  top: 9em;
  padding-left: 5vmax;
}
.header-text h1 {
  font-size: 42pt;
  font-weight: 300;
}
.header-text p {
  font-size: 16pt;
  font-weight: 100;
}
@media(max-width: 415px) {
  .header-text {
    top: 6em;
    padding-left: 2vmax;
  }
  .header-text h1 {
    font-size: 32pt;
  }
}

section {
  margin: 7em 0 5em 0;
  text-align: center;
}
section h3 {
  display: inline-block;
  padding-bottom: 5px;
  position: relative;
}
section h3::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 1px;
  bottom: 0;
  left: 25%;
  border-bottom: 1px solid #018786;
}

div.card {
  max-width: 45em;
  margin: auto;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
div.card p {
  text-align: left;
  padding: 0 2em 0 2em;
}
div.card ul {padding-left: 5em;text-align: left}
a {
  color: green;
  text-decoration: underline;
}

section.about p, section.skills p {
  padding-top: 1em;
  font-size: 1.2em;
  max-width: 80%;
  margin: 0 auto 0 auto;
}

.icon-github:hover {color: #333;text-decoration: none;}
.icon-linkedin:hover {color: #0077b5;text-decoration: none;}
.icon-twitter:hover {color: #1da1f2;text-decoration: none;}
.icon-mail:hover {color: #343434; text-decoration: none;}

section.contact ul {
  padding-top: 1em;
}
section.contact li {display: inline;}
section.contact li a {
  color: #86888a;
  text-decoration: none;
  font-size: 1.2em;
  margin: 1em;
}
@media(max-width: 415px) {
  section.contact li {display: block;}
  section.contact ul {text-align: justify;}
}
a.resume-button {
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid green;
  margin: 1em 0 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-weight:300;
  color: green;
  transition: all 0.2s;
}
a.resume-button:hover {
  color: white;
  background-color: green;
}
@media all and (max-width:30em) {
  a.resume-button {
    display:block;
    margin:0.4em auto;
    max-width: 6em;
 }
}
