body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  background: #f3f3f3;
}
/* "Some" browsers ignore overflow-x if inside body */
.hidden-overflow {overflow-x: hidden;}

header {
  background: linear-gradient(90deg, #36a33a, #5cb55f);
}
header .title-slants .slant{
  width: 0;
  height: 0;
  border-style: solid;
}
/*
Control size: px
vmax : 1/100 viewport size
borders marked black are not used
 */
header .title-slants .slant:nth-child(1) {
  border-width: 50px 100vmax 0 0;
  border-color: transparent green black black;
} header .title-slants .slant:nth-child(2) {
  border-width: 0 0 30px 100vmax;
  border-color: black black #486649 green;
} header .title-slants .slant:nth-child(3) {
  border-width: 10px 100vmax 0 0;
  border-color: #486649 #f3f3f3 black black;
}
.header-text {
  color: white;
  padding-top: 4em;
  padding-left: 5vmax;
}

h1 {
  margin: 0;
  font-size: 3em;
  font-weight: 300;
}
p {
  font-size: 1.4em;
    font-weight: 400;
    line-height: 1.5;
}
h3 {
  display: inline-block;
  padding-bottom: 5px;
  position: relative;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.3;
}
h3::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 1px;
  bottom: 0;
  left: 25%;
  border-bottom: 1px solid #018786;
}
@media(max-width: 415px) {
  .header-text {
    top: 2em;
    padding-left: 2vmax;
  }
  h1 {
    font-size: 32pt;
  }
}
a.button {
  display:inline-block;
  padding:10px 20px;
  border:1px solid green;
  margin: 1em 0 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-weight:400;
  color: green;
  transition: all 0.2s;
}
a.button:hover {
  color: white;
  background-color: green;
}
@media all and (max-width:30em) {
  a.button {
    display:block;
    margin:0.4em auto;
    max-width: 6em;
 }
}

section {
  padding: 50px 0;
  max-width: 1000px;
  text-align: center;
  margin: auto;
}

.tags {
    list-style: none;
}
.tags li {
    display: inline-block;
    padding: 0 20px;
    margin: 5px 0;
    position: relative;
}
.tag {
  background: #bcd6bd;
  border-radius: 3px 0 0 3px;
  color: #555;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 5px 10px 0;
  text-decoration: none;
} .tag::before {
  background: #f3f3f3;
  border-radius: 5px;
  box-shadow: inset 0 1px #777;
  content: '';
  height: 5px;
  left: 10px;
  position: absolute;
  width: 5px;
  top: 10px;
} .tag::after {
  background: #f3f3f3;
  border-bottom: 15px solid transparent;
  border-left: 10px solid #bcd6bd;
  border-top: 12px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

section.contact ul {
  padding-top: 1em;
}
section.contact li {display: inline;}
section.contact li a {
  color: #86888a;
  text-decoration: none;
  font-size: 1.2em;
  margin: 1em;
}
@media(max-width: 415px) {
  section.contact li {display: block;}
  section.contact ul {text-align: justify;}
}

.icon-github:hover {color: #333;text-decoration: none;}
.icon-linkedin:hover {color: #0077b5;text-decoration: none;}
.icon-twitter:hover {color: #1da1f2;text-decoration: none;}
.icon-mail:hover {color: #343434; text-decoration: none;}
.icon-mastodon:hover {color: #2b90d9; text-decoration: none;}
.icon-keybase:hover {color: #343434; text-decoration: none;}
